<form class="form-signin">
    <h2 class="form-signin-heading">Mời bạn đăng nhập</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" placeholder="Nhập email của bạn.." required="" autofocus="" type="text"><br>
    <input id="inputCode" class="form-control" placeholder="Nhập mã của bạn.." required="" autofocus="" type="password">
    <div class="checkbox">
        <label>
            <input value="remember-me" type="checkbox"> Remember me
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Log in</button>
    <br>
    <div id="err"></div>
</form>