<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <!--<a class="navbar-brand" href="{base_url()}">Home</a> -->
			<img src="{site_url()}webskins/skins/frontend/images/artificial-intelligence.jpg" width="60" >
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-default" >
            <ul class="nav navbar-nav">
                <li class=""><a href="{base_url()}">Bảng giá</a></li>
                <li class=""><a href="{bid_url()}">Đặt giá</a></li>                
            </ul>
			<ul class="nav navbar-nav">
			<li><a href="javascript:;" style="font-size:16px;font-weight:bold;"> Đầu tư cùng Nguyễn Đình Nam - Startup AI - Công nghệ trí thông minh nhân tạo</a></li>
			</ul>
            {if $usr == false}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{login_url()}">Login</a></li>
            </ul>
            {else}
            <ul class="nav navbar-nav navbar-right showhd">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$usr.ndt_id} <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="show">
                        <li><a href="javascript:;" class="logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
            {/if}
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>