<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{$page_title}</title>
    <base href="{base_url()}" /> {$header_script}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div id="loading-body">

    </div>
    {if $login_layout == 1}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <h3 style="text-align: center;">ADMINISTRATOR</h3>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:30px;">
        <div class="row-fluid">
            <div class="span12">
                {$content}
            </div>
        </div>
    </div>
    {$footer_script} {else} {$header} {$navigation}
    <div class="container" style="margin-top:30px;">
        <div class="row-fluid">
            <div class="span12">
                <div class="main-content">
                    {$content}
                </div>
            </div>
        </div>
    </div>
    {$footer} {$footer_script} {/if}
</body>

</html>