<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=""> {$meta_refresh}
    <style>
        div.fw-footer div.copyright {
            text-align: center;
            font-size: 14px;
            padding: 5em 0 1em 0;
        }
    </style>

    <title>{$page_title}</title>
    <base href="{base_url()}" id="base" /> {$header_script}
</head>

<body>

    <!-- Fixed navbar -->
    {$menu}

    <div class="container">
        {$main_content}
        <!-- Main component for a primary marketing message or call to action -->
    </div>
    <!-- /container -->

    <div class="fw-footer">
        <div class="copyright">
            Nguyễn Đình Nam - Startup AI © 2017
        </div>
    </div>
    {$footer} {$footer_script}
</body>

</html>