<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5>Tên nhà đầu tư: {$data.fullname}</h5>
</div>
{$form}
<div class="modal-body">
    <div style="margin-bottom: 10px;"></div>
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on">Email</span>
                    <input type="text" id="email_edit" value="{$data.email}" name="email">
                </div>
            </div>
			
			<div class="control-group">
                <div class="input-prepend">
                    <span class="add-on">Fullname</span>
                    <input type="text" id="fullname" value="{$data.fullname}" name="fullname">
                </div>
            </div>
            
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on">Số tiền nhờ đặt hộ</span>
                    <input type="text" id="price_fix" value="{$data.price_fix}" name="price_fix">
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on">Deposit Amount</span>
                    <input type="text" id="sig_deposit_amt" name="sig_deposit_amt" value="{$data.sig_deposit_amt}">
                </div>
            </div>
				<div class="control-group">
                    <div class="input-prepend">                       
                        <input type="text" id="code" name="code" value="{$data.code}" placeholder="Bid Code" required>
                    </div>
                </div>
        </div>
    </div>
    <input type="hidden" value="{$data.id}" name="u_id" />
</div>
<div class="modal-footer">
    <div class="result-update" style="float: left; width: 330px; margin-bottom: 0px; text-align: left;">
    </div>
    <button href="#" class="btn btn-success update-click">Update</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</form>