<main class="content" role="main" itemprop="mainContentOfPage"><article class="post-1925 page type-page status-publish entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><header class="entry-header"><h1 class="entry-title" itemprop="headline">Thủ tục đặt xe</h1> 
</header>
	<div class="entry-content" itemprop="text">
		<p>&ndash; Hình thức mua trực tiếp:<br>
+ Quý khách hàng đến showroom, tham quan, lựa chọn xe được chuyên viên tư vấn bán hàng phục vụ, hướng dẫn, <a href="{contact_url()}">giới thiệu</a> về xe.<br>
+ Sau khi được nghe tư vấn và đồng ý về mức giá xecủa Đại lý, quý khách hàng đăng ký mua, ký hợp đồng, mua theo 2 hình thức &nbsp; :</p>
<p>* Thanh toán 1 lần(trả thẳng).</p>
<p>* Trả góp: khách hàng đứng tên đồng ý (trả góp tối đa là 70% giá xe)</p>
<p style="padding-left: 30px;">Được sự bảo lãnh của ngân hàng ( bất kỳ ngân hàng )<br>
Thời gian thanh toán tối đa là 4 năm.</p>
<p>Khi hoàn tất thủ tục mua xe, chuyên viên tư vấn bán hàng và nhân viên PDI sẽ giao xe cho quý khách hàng. Sau đó bộ phận DCRC sẽ tiến hành đặt lịch bảo dưỡng, giao sổ bảo hành …</p>
<p>&ndash; Hình thức mua giao dịch trực tuyến:&nbsp;Là hình thức mua trên mạng Internet trực tuyến</p>
				          

                                <div class="clearfix"></div>
	</div>
</article>
</main>