.css-1,.css-1 td{
    background-color:#9ECAF7 !important;
}
.css-HTT,.css-HTT td{
    background-color:#FFC1C1 !important;
}
.css-DHT,.css-DHT td{
    background-color:#F4D5A4 !important;
}
.VD-D, .VD-D td{
    background-color:#CCABFE !important;
}
.css-DNH, .css-DNH td{
    background-color:#FCF4B6 !important;
}